@import "variables";

.header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  position: relative;
  &__home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 5px;
    background-color: hsla(0,0%,100%,.3);
    color: #fff;
    border-radius: 3px;
    &:hover {
      background-color: hsla(0,0%,100%,.2);
    }
  }
  &__logo {
    img {
      width: 100%;
      max-width: 80px;
      height: auto;
    }
  }
}